<div style="text-align:center">
  <h1>Yolo GOvnO</h1>
  <p>
    This is a platform for technical writers to manage their blog post contents
    related to YOLO sranje.
    <br />
    Click on Login to get Started!!!
  </p>
</div>

<div class="ss">
  <div class="section-1">
    <img
      class="img-part"
      src="https://images.pexels.com/photos/1482927/pexels-photo-1482927.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
      alt=""
    />
  </div>

  <div class="section-2">
    ovde ide tekst neki tipa ovo je omogucila fondacija ta i ta..bla bla bla..a
    slika levo mrzi me da trazim drugu
  </div>
</div>
