<div class="welcome-grid">
  <h1 class="title-welcome-paragraph">
    YOLO YOUTH ONLINE LEARNING OPPORTUNITY
  </h1>
  <div class="section-1">
    <mat-card class="logo-card">
      <mat-card-content>
        <img
          class="img-part"
          src="../../assets/cofounded.png"
          alt=""
          width="350px"
          height="66px"
        />
      </mat-card-content>
    </mat-card>

    <mat-card class="logo-card">
      <mat-card-content>
        <p>
          This website is running with the support of the European Commission.
          Its content reflects the views only of the author, and the Commission
          cannot be held responsible for any use which may be made of the
          information contained there in.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="logo-card">
      <mat-card-content>
        <img
          src="../../assets/erasmus+logo.png"
          alt=""
          width="300px"
          height="61px"
        />
      </mat-card-content>
    </mat-card>

    <mat-card class="logo-card">
      <mat-card-content>
        <img src="../../assets/eacea.png" alt="" width="300px" height="188px" />
      </mat-card-content>
    </mat-card>
  </div>

  <div class="section-2">
    <mat-card class="card-main">
      <mat-card-content>
        <p>
          <b><i>This project</i></b> has been funded with support from the
          European Commission, Erasmus+ programme and it will last for 20 months
          (15th of December 2018 – 15th of August 2020). Twenty-first century
          and unstoppable evolution of technologies have brought a brand new
          order in all of the spheres of society, including the education. The
          development of E-learning is one of the most rapidly expanding areas
          of education and training, also when it comes to non-formal education
          and training activities. In youth work, new tools are constantly
          needed in order to keep up with fast global changes, support youth’s
          participation in society, active citizenship and to prevent new forms
          of social exclusion. Historically, youth workers have been keen to
          absorb the new trends but with the new ICT and online tools, the
          know-how of how to use these innovative approaches is not easy to get
          and even when some youth workers have this know-how, it’s not easily
          mainstreamed. This is why we youth workers needs to enhance the
          knowledge on creative use of ICT and online tools in our work. We need
          new ways to work with the youngsters. Main aim of this project is to
          build capacity of partner organisation for using online tools in
          non-formal education, enhancing the quality of non-formal education
          and youth work. Project activities will step-by-step build capacity of
          youth workers, trainers, youth leaders from partner countries.<br />
          <b
            ><a
              class="link"
              href="http://y-o-l-o.org/about-the-project/"
              target="_blank"
              >Find out more...</a
            ></b
          >
        </p>

        <p>
          <b><i>PROJECT PARTNERS</i></b>
          : NGO Iuventa (Serbia) Associazione TDM 2000 (Italy) Beyond Barriers
          (Albania); Blink Kosova (BETTER LIFE IN KOSOVA) (Kosovo); Sal Fuera
          Elche (SAL FUERA ELX) (Spain); Youth and Civil Initiatives in the Rose
          Valley ( Bulgaria); Eesti People to People(Estonia) SIEDAS SOCIAL
          INNOVATION AND ENTREPRENEURSHIP DEVELOPMENT ASSOCIATION (Slovakia)
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
