<div>
  <!--class="card-grid"-->
  <h1 class="title-welcome-paragraph">
    YOLO YOUTH ONLINE LEARNING OPPORTUNITY
  </h1>
  <ul class="card-grid">
    <li *ngFor="let picture of pictures">
      <mat-card class="example-card ">
        <mat-card-header>
          <mat-card-title>{{ picture.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="picture.img" alt="Photo of a Shiba Inu" />

        <mat-card-actions align="end">
          <button mat-button routerLink="/user-dashboard-list">More</button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
